.panda-bg-info {
  background-color: #fceae8;
}
.panda-btn-color {
  background-image: linear-gradient(to bottom, #ff1470 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}
